.App {
  text-align: center;
  margin-top: 50px;
  font-family: 'Arial', sans-serif;
}

h1 {
  color: #4CAF50;
}

.input-section {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.participants {
  display: flex;
  flex-wrap: wrap;  /* 이 부분을 추가 */
  justify-content: center;
}

.participant {
  margin: 10px;
}

.highlight {
  background-color: yellow;
}

.draw-button {
  padding: 16px 32px;
  font-size: 18px;
  background-color: #008CBA;
  color: white;
  margin-top: 20px;
}
